<div class="container">

  <%= link_to "See all chapters", project_elaborate_scenes_path(@scene.project),style:"text-decoration:underline" %>

  <h3><%= @scene.summary %></h3>
  <p class="floatRight", style="color: #4f4f4f; font-size:5px;">*Note: Chapter name will not be displayed to readers</p><br>

 <!--  <div>
    <h3>Content preview: </h3>

      <div class="no-text-overflow">
        <p id="contentPreview" class="proj-display show-line-break"></p>
      </div>
  </div> -->




<script type="text/javascript" id="code">
  var projectId = <%= @scene.project.id %>;
  var sceneId = <%= @scene.id %>;
  function init(){
    $.ajax({
      type: "GET",
      url:"/projects/"+projectId+"/scenes/"+sceneId+"/json",
      success: function(data, textStatus, jqXHR){
        console.log(data);
        document.getElementById("sceneContent").value = data.scene.content;
        document.getElementById("contentPreview").innerHTML = data.scene.content;
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log("faaaaaaa");
      }
    });
  };

  function editScene(projectId, sceneId, scene){
    $.ajax({
      type: "PATCH",
      url:"/projects/"+projectId+"/scenes/"+sceneId,
      data: scene,
      success: function(data, textStatus, jqXHR){
        console.log("eihei");
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log("faaaaaaa");
      }
    });
  };

  function save(){
    let newContent = document.getElementById("sceneContent").value;
    let newScene = {
      scene: {
        content: newContent
      }
    };
    editScene(projectId, sceneId, newScene);
  };

  function load(){
    $.ajax({
      type: "GET",
      url:"/projects/"+projectId+"/scenes/"+sceneId+"/json",
      success: function(data, textStatus, jqXHR){
        console.log(data);
        document.getElementById("sceneContent").value = data.scene.content;
        document.getElementById("contentPreview").innerHTML = data.scene.content;
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log("faaaaaaa");
      }
    });
  };


</script>

<div>
  <h4>Chapter content:</h4>
  <textarea id="sceneContent" style="width:100%;height:300px">
  </textarea>
  <div class="floatRight">
    <button onclick="save()">Save chapter content</button>
    <button onclick="load()">Load chapter content</button>
</div>
  <div>
    <br><br><br>
    <h4>Decisions: </h4>
    <br>
    <% @scene.decisions.each do |d| %>
      <p style="font-size: 15pt;">· <%= d.description %></p>
    <% end %>
  </div>
</div>
