<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Password Reset</h2>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions floatRight">
    <%= f.button :submit, "Reset password" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>


