<h2>My Projects</h2>
<div class='projects'>
  <div class="coverPic"><div class="coverPic"><%= image_tag "realIcon.png", class:"coverImg"%></div></div>
  <div class="projInfo">
    <br><br>
    <p class="btn floatRight"><%= link_to "+ Add a Story", new_project_path %></p>
  </div>
</div>

<% @projects.each do |p| %>
  <div class='projects'>
    <div class="coverPic"><div class="coverPic"><%= image_tag "realIcon.png", class:"coverImg"%></div></div>

    <div class="projInfo">
      <h3 class="floatleft"><%= link_to p.name, project_path(p) %></h3><br><br>

      <div class="dropdown">
        <p class="btn floatRight dropbtn">Edit</p>
        <div class="dropdown-content">
          <%= link_to "Edit content", project_owner_work_path(p) %>
          <%= link_to "Edit name and description", edit_project_path(p) %>
        </div>
      </div>

      <% if(!p.published) %>
        <div class="floatleft" id="btn-publish">
          <button class="btn" id='publish' onclick="publish(<%= p.id %>)">Publish</button>
        </div>
      <% else %>
        <div class="floatleft" id="btn-bring-offline">
          <button class="btn" id='bring-offline' onclick="bringOffline(<%= p.id %>)">Bring Offline</button>
        </div>
      <% end %>

      <p class="btn floatRight"><%= link_to "Delete", project_path(p), method: :delete, data: {confirm: "Are you sure you want to delete this?"} %></p>
    </div>
  </div>
<% end %>

<script type="text/javascript" id="code">
  function publish(projectId){
    $.ajax({
      type: "PATCH",
      url:"/projects/"+projectId,
      data: {project:{
        project_id: projectId,
        published: true
      }},
      success: function(data, textStatus, jqXHR){
        console.log("eihei!");
        document.getElementById("btn-publish").innerHTML="Published";
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log("faaaaaaa");
      }
    });
  }

  function bringOffline(projectId){
    $.ajax({
      type: "PATCH",
      url:"/projects/"+projectId,
      data: {project:{
        project_id: projectId,
        published: false
      }},
      success: function(data, textStatus, jqXHR){
        console.log("eihei!");
        document.getElementById("btn-bring-offline").innerHTML="Brought Offline";
      },
      error: function(jqXHR, textStatus, errorThrown){
        console.log("faaaaaaa");
      }
    });
  }
</script>
