<div class='container'>
  <h2><%= current_user.username %>'s Projects</h2>
    <p class='floatRight'><%= link_to "+ Add a Story", new_project_path %></p>
    <% @projects.each do |p| %>
    <div class='projects'>
      <h3><%= p.name %></h3>
      <p><%= link_to "Edit content", project_owner_work_path(p) %></p>
      <!-- <p><%= link_to "Edit name and description", edit_project_path(p) %></p> -->
      <p><%= link_to "Delete project", project_path(p), method: :delete, data: {confirm: "Are you sure?"} %></p>
     </div>
    <% end %>


</div>

